-- DropForeignKey
ALTER TABLE `course` DROP FOREIGN KEY `course_institutionId_fkey`;

-- DropForeignKey
ALTER TABLE `course` DROP FOREIGN KEY `course_categoryId_fkey`;

-- DropForeignKey
ALTER TABLE `student_course_enrollments` DROP FOREIGN KEY `student_course_enrollments_studentId_fkey`;

-- DropForeignKey
ALTER TABLE `student_course_enrollments` DROP FOREIGN KEY `student_course_enrollments_courseId_fkey`;

-- DropForeignKey
ALTER TABLE `student_course_completions` DROP FOREIGN KEY `student_course_completions_courseId_fkey`;

-- DropForeignKey
ALTER TABLE `student_course_completions` DROP FOREIGN KEY `student_course_completions_studentId_fkey`;

-- DropForeignKey
ALTER TABLE `tag` DROP FOREIGN KEY `tag_categoryId_fkey`;

-- DropForeignKey
ALTER TABLE `coursetag` DROP FOREIGN KEY `coursetag_courseId_fkey`;

-- DropForeignKey
ALTER TABLE `coursetag` DROP FOREIGN KEY `coursetag_tagId_fkey`;

-- DropForeignKey
ALTER TABLE `user` DROP FOREIGN KEY `user_institutionId_fkey`;

-- DropForeignKey
ALTER TABLE `booking` DROP FOREIGN KEY `booking_courseId_fkey`;

-- DropForeignKey
ALTER TABLE `booking` DROP FOREIGN KEY `booking_institutionId_fkey`;

-- DropForeignKey
ALTER TABLE `booking` DROP FOREIGN KEY `booking_studentId_fkey`;

-- DropForeignKey
ALTER TABLE `booking` DROP FOREIGN KEY `booking_userId_fkey`;

-- DropForeignKey
ALTER TABLE `commissionratelog` DROP FOREIGN KEY `commissionratelog_changedBy_fkey`;

-- DropForeignKey
ALTER TABLE `content_items` DROP FOREIGN KEY `content_items_module_id_fkey`;

-- DropForeignKey
ALTER TABLE `exercises` DROP FOREIGN KEY `exercises_module_id_fkey`;

-- DropForeignKey
ALTER TABLE `modules` DROP FOREIGN KEY `modules_course_id_fkey`;

-- DropForeignKey
ALTER TABLE `quiz_questions` DROP FOREIGN KEY `quiz_questions_quiz_id_fkey`;

-- DropForeignKey
ALTER TABLE `quizzes` DROP FOREIGN KEY `quizzes_module_id_fkey`;

-- DropForeignKey
ALTER TABLE `course_weekly_prices` DROP FOREIGN KEY `course_weekly_prices_courseId_fkey`;

-- DropForeignKey
ALTER TABLE `course_monthly_price` DROP FOREIGN KEY `course_monthly_price_courseId_fkey`;

-- DropForeignKey
ALTER TABLE `course_pricing_rules` DROP FOREIGN KEY `course_pricing_rules_courseId_fkey`;

-- DropForeignKey
ALTER TABLE `institution_commissions` DROP FOREIGN KEY `institution_commissions_institutionId_fkey`;

-- DropForeignKey
ALTER TABLE `institution_payouts` DROP FOREIGN KEY `InstitutionPayout_institution_fkey`;

-- DropForeignKey
ALTER TABLE `institution_payouts` DROP FOREIGN KEY `InstitutionPayout_enrollment_fkey`;

-- DropForeignKey
ALTER TABLE `institution_payouts` DROP FOREIGN KEY `InstitutionPayout_commission_fkey`;

-- DropForeignKey
ALTER TABLE `payments` DROP FOREIGN KEY `payments_institutionId_fkey`;

-- DropForeignKey
ALTER TABLE `payments` DROP FOREIGN KEY `payments_enrollmentId_fkey`;

-- DropForeignKey
ALTER TABLE `payments` DROP FOREIGN KEY `payments_payoutId_fkey`;

-- DropTable
DROP TABLE `institution`;

-- DropTable
DROP TABLE `course`;

-- DropTable
DROP TABLE `students`;

-- DropTable
DROP TABLE `student_institutions`;

-- DropTable
DROP TABLE `student_course_enrollments`;

-- DropTable
DROP TABLE `student_course_completions`;

-- DropTable
DROP TABLE `tag`;

-- DropTable
DROP TABLE `category`;

-- DropTable
DROP TABLE `coursetag`;

-- DropTable
DROP TABLE `user`;

-- DropTable
DROP TABLE `booking`;

-- DropTable
DROP TABLE `commissionratelog`;

-- DropTable
DROP TABLE `content_items`;

-- DropTable
DROP TABLE `exercises`;

-- DropTable
DROP TABLE `module_skills`;

-- DropTable
DROP TABLE `modules`;

-- DropTable
DROP TABLE `quiz_questions`;

-- DropTable
DROP TABLE `quizzes`;

-- DropTable
DROP TABLE `student_progress`;

-- DropTable
DROP TABLE `course_weekly_prices`;

-- DropTable
DROP TABLE `course_monthly_price`;

-- DropTable
DROP TABLE `course_pricing_rules`;

-- DropTable
DROP TABLE `tagrelation`;

-- DropTable
DROP TABLE `institution_commissions`;

-- DropTable
DROP TABLE `institution_payouts`;

-- DropTable
DROP TABLE `payments`;

-- DropTable
DROP TABLE `email_settings`;

