-- CreateTable
CREATE TABLE `institution` (
    `id` VARCHAR(36) NOT NULL,
    `name` VARCHAR(255) NOT NULL,
    `slug` VARCHAR(100) NOT NULL,
    `description` TEXT NOT NULL,
    `address` VARCHAR(255) NOT NULL,
    `city` VARCHAR(100) NOT NULL,
    `state` VARCHAR(100) NULL,
    `country` VARCHAR(100) NOT NULL,
    `postcode` VARCHAR(20) NULL,
    `email` VARCHAR(50) NOT NULL,
    `website` VARCHAR(255) NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `institutionEmail` VARCHAR(100) NULL,
    `telephone` VARCHAR(20) NULL,
    `contactName` VARCHAR(100) NULL,
    `contactJobTitle` VARCHAR(100) NULL,
    `contactPhone` VARCHAR(20) NULL,
    `contactEmail` VARCHAR(100) NULL,
    `logoUrl` VARCHAR(255) NULL,
    `facilities` TEXT NULL,
    `status` VARCHAR(20) NOT NULL DEFAULT 'PENDING',
    `isApproved` BOOLEAN NOT NULL DEFAULT false,
    `currency` VARCHAR(3) NOT NULL DEFAULT 'USD',
    `commissionRate` FLOAT NOT NULL DEFAULT 10,
    `discountSettings` JSON NULL,
    `metadata` JSON NULL,
    `socialMedia` JSON NULL,
    `defaultMaxStudents` INTEGER NOT NULL DEFAULT 15,
    `stripeCustomerId` VARCHAR(255) NULL,
    `mainImageUrl` VARCHAR(255) NULL,
    `subscriptionPlan` VARCHAR(20) NOT NULL DEFAULT 'BASIC',
    `isFeatured` BOOLEAN NOT NULL DEFAULT false,
    `isActive` BOOLEAN NOT NULL DEFAULT true,

    UNIQUE INDEX `institution_slug_key`(`slug`),
    INDEX `Institution_slug_idx`(`slug`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `course` (
    `id` VARCHAR(36) NOT NULL,
    `title` VARCHAR(100) NOT NULL,
    `slug` VARCHAR(100) NOT NULL,
    `description` TEXT NULL,
    `duration` INTEGER NOT NULL,
    `level` VARCHAR(20) NOT NULL,
    `status` VARCHAR(20) NOT NULL,
    `institutionId` VARCHAR(36) NULL,
    `categoryId` VARCHAR(36) NOT NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `startDate` DATETIME(3) NOT NULL,
    `endDate` DATETIME(3) NOT NULL,
    `maxStudents` INTEGER NOT NULL DEFAULT 15,
    `base_price` DOUBLE NOT NULL DEFAULT 0,
    `pricingPeriod` VARCHAR(20) NOT NULL DEFAULT 'WEEKLY',
    `framework` ENUM('CEFR', 'ACTFL', 'JLPT', 'HSK', 'TOPIK') NOT NULL DEFAULT 'CEFR',
    `isFeatured` BOOLEAN NOT NULL DEFAULT false,
    `isSponsored` BOOLEAN NOT NULL DEFAULT false,
    `priority` INTEGER NOT NULL DEFAULT 0,
    `hasLiveClasses` BOOLEAN NOT NULL DEFAULT false,
    `liveClassType` VARCHAR(191) NULL,
    `liveClassFrequency` VARCHAR(191) NULL,
    `liveClassSchedule` JSON NULL,
    `isPlatformCourse` BOOLEAN NOT NULL DEFAULT false,
    `requiresSubscription` BOOLEAN NOT NULL DEFAULT false,
    `subscriptionTier` VARCHAR(191) NULL,
    `marketingType` VARCHAR(50) NOT NULL DEFAULT 'SELF_PACED',
    `marketingDescription` TEXT NULL,

    UNIQUE INDEX `course_slug_key`(`slug`),
    INDEX `Course_categoryId_fkey`(`categoryId`),
    INDEX `Course_institutionId_fkey`(`institutionId`),
    INDEX `Course_status_idx`(`status`),
    INDEX `Course_level_idx`(`level`),
    INDEX `Course_createdAt_idx`(`createdAt`),
    INDEX `Course_institution_status_idx`(`institutionId`, `status`),
    INDEX `idx_course_created_at`(`createdAt`),
    INDEX `course_isPlatformCourse_idx`(`isPlatformCourse`),
    INDEX `course_requiresSubscription_idx`(`requiresSubscription`),
    INDEX `course_hasLiveClasses_idx`(`hasLiveClasses`),
    INDEX `course_marketingType_idx`(`marketingType`),
    INDEX `Course_slug_idx`(`slug`),
    UNIQUE INDEX `Course_title_institutionId_key`(`title`, `institutionId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `user` (
    `id` VARCHAR(36) NOT NULL,
    `name` VARCHAR(255) NOT NULL,
    `email` VARCHAR(100) NOT NULL,
    `emailVerified` DATETIME(3) NULL,
    `image` VARCHAR(255) NULL,
    `password` VARCHAR(255) NOT NULL,
    `role` VARCHAR(20) NOT NULL DEFAULT 'STUDENT',
    `institutionId` VARCHAR(36) NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `status` VARCHAR(20) NOT NULL DEFAULT 'ACTIVE',
    `forcePasswordReset` BOOLEAN NOT NULL DEFAULT false,

    UNIQUE INDEX `user_email_key`(`email`),
    INDEX `user_institutionId_fkey`(`institutionId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `booking` (
    `id` VARCHAR(36) NOT NULL,
    `courseId` VARCHAR(36) NOT NULL,
    `institutionId` VARCHAR(36) NOT NULL,
    `status` VARCHAR(20) NOT NULL,
    `amount` DOUBLE NOT NULL DEFAULT 0,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,
    `studentId` VARCHAR(36) NOT NULL,
    `userId` VARCHAR(36) NOT NULL,
    `stateVersion` INTEGER NOT NULL DEFAULT 1,
    `version` INTEGER NOT NULL DEFAULT 1,

    INDEX `Booking_courseId_fkey`(`courseId`),
    INDEX `Booking_institutionId_fkey`(`institutionId`),
    INDEX `Booking_studentId_fkey`(`studentId`),
    INDEX `Booking_userId_fkey`(`userId`),
    INDEX `idx_booking_course_id`(`courseId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `commissionratelog` (
    `id` VARCHAR(36) NOT NULL,
    `institutionId` VARCHAR(36) NOT NULL,
    `previousRate` DOUBLE NOT NULL,
    `newRate` DOUBLE NOT NULL,
    `changedBy` VARCHAR(36) NOT NULL,
    `reason` TEXT NULL,
    `changedAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    INDEX `CommissionRateLog_changedBy_idx`(`changedBy`),
    INDEX `CommissionRateLog_institutionId_idx`(`institutionId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `category` (
    `id` VARCHAR(36) NOT NULL,
    `name` VARCHAR(50) NOT NULL,
    `description` TEXT NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `slug` VARCHAR(50) NOT NULL,

    UNIQUE INDEX `category_slug_key`(`slug`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `coursetag` (
    `id` VARCHAR(36) NOT NULL,
    `courseId` VARCHAR(36) NOT NULL,
    `tagId` VARCHAR(36) NOT NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    INDEX `coursetag_courseId_idx`(`courseId`),
    INDEX `coursetag_tagId_idx`(`tagId`),
    INDEX `idx_course_tag_course_id`(`courseId`),
    UNIQUE INDEX `coursetag_courseId_tagId_key`(`courseId`, `tagId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `tag` (
    `id` VARCHAR(36) NOT NULL,
    `name` VARCHAR(50) NOT NULL,
    `description` TEXT NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `categoryId` VARCHAR(36) NULL,
    `slug` VARCHAR(50) NOT NULL,
    `parentId` VARCHAR(36) NULL,
    `usageCount` INTEGER NOT NULL DEFAULT 0,
    `color` VARCHAR(7) NULL,
    `icon` VARCHAR(50) NULL,
    `featured` BOOLEAN NOT NULL DEFAULT false,
    `priority` INTEGER NOT NULL DEFAULT 0,

    UNIQUE INDEX `tag_slug_key`(`slug`),
    INDEX `tag_categoryId_idx`(`categoryId`),
    INDEX `tag_parentId_idx`(`parentId`),
    INDEX `tag_name_idx`(`name`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `students` (
    `id` VARCHAR(36) NOT NULL,
    `name` VARCHAR(191) NOT NULL,
    `email` VARCHAR(191) NOT NULL,
    `phone` VARCHAR(20) NULL,
    `address` TEXT NULL,
    `bio` TEXT NULL,
    `status` ENUM('active', 'inactive') NULL DEFAULT 'active',
    `created_at` TIMESTAMP(0) NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NULL DEFAULT CURRENT_TIMESTAMP(0),
    `last_active` TIMESTAMP(0) NULL DEFAULT CURRENT_TIMESTAMP(0),
    `stripeCustomerId` VARCHAR(255) NULL,
    `date_of_birth` DATE NULL,
    `gender` VARCHAR(20) NULL,
    `interests` JSON NULL,
    `learning_goals` TEXT NULL,
    `location` VARCHAR(255) NULL,
    `native_language` VARCHAR(50) NULL,
    `social_links` JSON NULL,
    `social_visibility` ENUM('PUBLIC', 'PRIVATE', 'FRIENDS_ONLY') NOT NULL DEFAULT 'PRIVATE',
    `spoken_languages` JSON NULL,
    `timezone` VARCHAR(50) NULL,
    `website` VARCHAR(255) NULL,

    UNIQUE INDEX `email`(`email`),
    INDEX `idx_students_email`(`email`),
    INDEX `students_native_language_idx`(`native_language`),
    INDEX `students_social_visibility_idx`(`social_visibility`),
    INDEX `students_location_idx`(`location`(250)),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `student_course_enrollments` (
    `id` VARCHAR(191) NOT NULL,
    `studentId` VARCHAR(191) NOT NULL,
    `courseId` VARCHAR(191) NOT NULL,
    `status` VARCHAR(191) NOT NULL DEFAULT 'PENDING_PAYMENT',
    `progress` DOUBLE NOT NULL DEFAULT 0,
    `startDate` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `endDate` DATETIME(3) NULL,
    `paymentStatus` VARCHAR(191) NOT NULL DEFAULT 'PENDING',
    `paymentDate` DATETIME(3) NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,
    `stateVersion` INTEGER NOT NULL DEFAULT 1,
    `version` INTEGER NOT NULL DEFAULT 1,
    `accessExpiry` DATETIME(3) NULL,
    `accessMethod` VARCHAR(191) NOT NULL DEFAULT 'DIRECT',
    `attendanceQuotaUsed` INTEGER NOT NULL DEFAULT 0,
    `enrollmentQuotaUsed` BOOLEAN NOT NULL DEFAULT false,
    `enrollmentType` VARCHAR(191) NOT NULL DEFAULT 'COURSE_BASED',
    `hasLiveClassAccess` BOOLEAN NOT NULL DEFAULT false,
    `isActive` BOOLEAN NOT NULL DEFAULT true,
    `isPlatformCourse` BOOLEAN NOT NULL DEFAULT false,
    `liveClassAccessExpiry` DATETIME(3) NULL,
    `subscriptionId` VARCHAR(191) NULL,
    `subscriptionTier` VARCHAR(191) NULL,

    INDEX `student_course_enrollments_studentId_idx`(`studentId`),
    INDEX `student_course_enrollments_courseId_idx`(`courseId`),
    INDEX `idx_enrollment_course_id`(`courseId`),
    INDEX `student_course_enrollments_enrollmentType_idx`(`enrollmentType`),
    INDEX `student_course_enrollments_accessMethod_idx`(`accessMethod`),
    INDEX `student_course_enrollments_subscriptionId_idx`(`subscriptionId`),
    INDEX `student_course_enrollments_isPlatformCourse_idx`(`isPlatformCourse`),
    INDEX `student_course_enrollments_isActive_idx`(`isActive`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `student_course_completions` (
    `id` VARCHAR(36) NOT NULL,
    `courseId` VARCHAR(36) NOT NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `status` VARCHAR(20) NOT NULL,
    `studentId` VARCHAR(36) NOT NULL,
    `updatedAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    INDEX `StudentCourseCompletion_studentId_fkey`(`studentId`),
    INDEX `StudentCourseCompletion_courseId_fkey`(`courseId`),
    INDEX `idx_completion_course_id`(`courseId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `payments` (
    `id` VARCHAR(191) NOT NULL,
    `amount` DOUBLE NOT NULL,
    `status` VARCHAR(191) NOT NULL DEFAULT 'PENDING',
    `paidAt` DATETIME(3) NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,
    `metadata` JSON NULL,
    `institutionId` VARCHAR(191) NOT NULL,
    `enrollmentId` VARCHAR(191) NOT NULL,
    `commissionAmount` DOUBLE NOT NULL DEFAULT 0,
    `institutionAmount` DOUBLE NOT NULL,
    `payoutId` VARCHAR(191) NULL,
    `paymentMethod` VARCHAR(191) NULL,
    `referenceNumber` VARCHAR(191) NULL,
    `notes` VARCHAR(191) NULL,
    `idempotencyKey` VARCHAR(191) NULL,
    `stateVersion` INTEGER NOT NULL DEFAULT 1,
    `version` INTEGER NOT NULL DEFAULT 1,
    `currency` VARCHAR(191) NOT NULL DEFAULT 'USD',
    `paymentId` VARCHAR(191) NULL,
    `refundAmount` DOUBLE NULL,
    `refundedAt` DATETIME(3) NULL,

    UNIQUE INDEX `payments_idempotencyKey_key`(`idempotencyKey`),
    INDEX `payments_institutionId_idx`(`institutionId`),
    INDEX `payments_enrollmentId_idx`(`enrollmentId`),
    INDEX `payments_payoutId_idx`(`payoutId`),
    INDEX `payments_status_idx`(`status`),
    INDEX `payments_createdAt_idx`(`createdAt`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `institution_commissions` (
    `id` VARCHAR(191) NOT NULL,
    `institutionId` VARCHAR(191) NOT NULL,
    `rate` DOUBLE NOT NULL DEFAULT 0,
    `isActive` BOOLEAN NOT NULL DEFAULT true,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    UNIQUE INDEX `institution_commissions_institutionId_key`(`institutionId`),
    INDEX `institution_commissions_institutionId_idx`(`institutionId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `institution_subscriptions` (
    `id` VARCHAR(191) NOT NULL,
    `institutionId` VARCHAR(191) NOT NULL,
    `status` VARCHAR(191) NOT NULL DEFAULT 'ACTIVE',
    `startDate` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `endDate` DATETIME(3) NOT NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,
    `autoRenew` BOOLEAN NOT NULL DEFAULT true,
    `cancellationReason` VARCHAR(191) NULL,
    `cancelledAt` DATETIME(3) NULL,
    `commissionTierId` VARCHAR(191) NOT NULL,

    UNIQUE INDEX `institution_subscriptions_institutionId_key`(`institutionId`),
    INDEX `institution_subscriptions_institutionId_idx`(`institutionId`),
    INDEX `institution_subscriptions_status_idx`(`status`),
    INDEX `institution_subscriptions_endDate_idx`(`endDate`),
    INDEX `institution_subscriptions_commissionTierId_fkey`(`commissionTierId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `commission_tiers` (
    `id` VARCHAR(191) NOT NULL,
    `planType` VARCHAR(191) NOT NULL,
    `commissionRate` DOUBLE NOT NULL,
    `features` JSON NOT NULL,
    `isActive` BOOLEAN NOT NULL DEFAULT true,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,
    `name` VARCHAR(191) NOT NULL,
    `description` TEXT NOT NULL,
    `price` DOUBLE NOT NULL,
    `currency` VARCHAR(3) NOT NULL DEFAULT 'USD',
    `billingCycle` VARCHAR(20) NOT NULL DEFAULT 'MONTHLY',
    `maxStudents` INTEGER NOT NULL DEFAULT 10,
    `maxCourses` INTEGER NOT NULL DEFAULT 5,
    `maxTeachers` INTEGER NOT NULL DEFAULT 2,

    UNIQUE INDEX `commission_tiers_planType_key`(`planType`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `institution_subscription_logs` (
    `id` VARCHAR(191) NOT NULL,
    `subscriptionId` VARCHAR(191) NOT NULL,
    `action` VARCHAR(191) NOT NULL,
    `oldPlan` VARCHAR(191) NULL,
    `newPlan` VARCHAR(191) NULL,
    `oldAmount` DOUBLE NULL,
    `newAmount` DOUBLE NULL,
    `oldBillingCycle` VARCHAR(191) NULL,
    `newBillingCycle` VARCHAR(191) NULL,
    `userId` VARCHAR(191) NOT NULL,
    `reason` VARCHAR(191) NULL,
    `metadata` JSON NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    INDEX `institution_subscription_logs_subscriptionId_idx`(`subscriptionId`),
    INDEX `institution_subscription_logs_action_idx`(`action`),
    INDEX `institution_subscription_logs_createdAt_idx`(`createdAt`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `institution_billing_history` (
    `id` VARCHAR(191) NOT NULL,
    `subscriptionId` VARCHAR(191) NOT NULL,
    `billingDate` DATETIME(3) NOT NULL,
    `amount` DOUBLE NOT NULL,
    `currency` VARCHAR(191) NOT NULL DEFAULT 'USD',
    `status` VARCHAR(191) NOT NULL,
    `paymentMethod` VARCHAR(191) NULL,
    `transactionId` VARCHAR(191) NULL,
    `invoiceNumber` VARCHAR(191) NULL,
    `description` VARCHAR(191) NULL,
    `metadata` JSON NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    INDEX `institution_billing_history_subscriptionId_idx`(`subscriptionId`),
    INDEX `institution_billing_history_billingDate_idx`(`billingDate`),
    INDEX `institution_billing_history_status_idx`(`status`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `student_tiers` (
    `id` VARCHAR(191) NOT NULL,
    `planType` VARCHAR(191) NOT NULL,
    `name` VARCHAR(191) NOT NULL,
    `description` TEXT NOT NULL,
    `price` DOUBLE NOT NULL,
    `currency` VARCHAR(3) NOT NULL DEFAULT 'USD',
    `billingCycle` VARCHAR(20) NOT NULL DEFAULT 'MONTHLY',
    `maxCourses` INTEGER NOT NULL DEFAULT 5,
    `maxLiveClasses` INTEGER NOT NULL DEFAULT 10,
    `maxStudents` INTEGER NOT NULL DEFAULT 1,
    `maxInstructors` INTEGER NOT NULL DEFAULT 1,
    `features` JSON NOT NULL,
    `enrollmentQuota` INTEGER NOT NULL DEFAULT 5,
    `attendanceQuota` INTEGER NOT NULL DEFAULT 20,
    `gracePeriodDays` INTEGER NOT NULL DEFAULT 7,
    `isActive` BOOLEAN NOT NULL DEFAULT true,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    UNIQUE INDEX `student_tiers_planType_key`(`planType`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `student_subscriptions` (
    `id` VARCHAR(191) NOT NULL,
    `studentId` VARCHAR(191) NOT NULL,
    `status` VARCHAR(191) NOT NULL DEFAULT 'ACTIVE',
    `startDate` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `endDate` DATETIME(3) NOT NULL,
    `autoRenew` BOOLEAN NOT NULL DEFAULT true,
    `cancellationReason` VARCHAR(191) NULL,
    `cancelledAt` DATETIME(3) NULL,
    `metadata` JSON NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,
    `studentTierId` VARCHAR(191) NOT NULL,
    `attendanceQuota` INTEGER NOT NULL DEFAULT 10,
    `canAccessLiveClasses` BOOLEAN NOT NULL DEFAULT false,
    `canAccessRecordings` BOOLEAN NOT NULL DEFAULT false,
    `canUseHDVideo` BOOLEAN NOT NULL DEFAULT false,
    `currentEnrollments` INTEGER NOT NULL DEFAULT 0,
    `enrollmentQuota` INTEGER NOT NULL DEFAULT 1,
    `maxActiveCourses` INTEGER NOT NULL DEFAULT 1,
    `maxEnrollments` INTEGER NOT NULL DEFAULT 1,
    `monthlyAttendance` INTEGER NOT NULL DEFAULT 0,
    `monthlyEnrollments` INTEGER NOT NULL DEFAULT 0,
    `planType` VARCHAR(191) NOT NULL DEFAULT 'BASIC',

    UNIQUE INDEX `student_subscriptions_studentId_key`(`studentId`),
    INDEX `student_subscriptions_studentId_idx`(`studentId`),
    INDEX `student_subscriptions_status_idx`(`status`),
    INDEX `student_subscriptions_endDate_idx`(`endDate`),
    INDEX `student_subscriptions_studentTierId_fkey`(`studentTierId`),
    INDEX `student_subscriptions_planType_idx`(`planType`),
    INDEX `student_subscriptions_currentEnrollments_idx`(`currentEnrollments`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `student_billing_history` (
    `id` VARCHAR(191) NOT NULL,
    `subscriptionId` VARCHAR(191) NOT NULL,
    `billingDate` DATETIME(3) NOT NULL,
    `amount` DOUBLE NOT NULL,
    `currency` VARCHAR(191) NOT NULL DEFAULT 'USD',
    `status` VARCHAR(191) NOT NULL,
    `paymentMethod` VARCHAR(191) NULL,
    `transactionId` VARCHAR(191) NULL,
    `invoiceNumber` VARCHAR(191) NULL,
    `description` VARCHAR(191) NULL,
    `metadata` JSON NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    INDEX `student_billing_history_subscriptionId_idx`(`subscriptionId`),
    INDEX `student_billing_history_billingDate_idx`(`billingDate`),
    INDEX `student_billing_history_status_idx`(`status`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `subscription_logs` (
    `id` VARCHAR(191) NOT NULL,
    `subscriptionId` VARCHAR(191) NOT NULL,
    `action` VARCHAR(191) NOT NULL,
    `oldPlan` VARCHAR(191) NULL,
    `newPlan` VARCHAR(191) NULL,
    `oldAmount` DOUBLE NULL,
    `newAmount` DOUBLE NULL,
    `oldBillingCycle` VARCHAR(191) NULL,
    `newBillingCycle` VARCHAR(191) NULL,
    `userId` VARCHAR(191) NOT NULL,
    `reason` VARCHAR(191) NULL,
    `metadata` JSON NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    INDEX `subscription_logs_subscriptionId_idx`(`subscriptionId`),
    INDEX `subscription_logs_action_idx`(`action`),
    INDEX `subscription_logs_createdAt_idx`(`createdAt`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `lead_events` (
    `id` VARCHAR(36) NOT NULL,
    `institutionId` VARCHAR(36) NOT NULL,
    `eventType` VARCHAR(50) NOT NULL,
    `timestamp` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `userAgent` TEXT NULL,
    `referrer` TEXT NULL,
    `sessionId` VARCHAR(255) NULL,
    `contactType` VARCHAR(50) NULL,
    `contactValue` TEXT NULL,
    `metadata` JSON NULL,

    INDEX `lead_events_institutionId_idx`(`institutionId`),
    INDEX `lead_events_eventType_idx`(`eventType`),
    INDEX `lead_events_timestamp_idx`(`timestamp`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `video_sessions` (
    `id` VARCHAR(36) NOT NULL,
    `title` VARCHAR(255) NOT NULL,
    `description` TEXT NULL,
    `sessionType` VARCHAR(50) NOT NULL,
    `language` VARCHAR(10) NOT NULL,
    `level` VARCHAR(20) NOT NULL,
    `maxParticipants` INTEGER NOT NULL DEFAULT 10,
    `startTime` DATETIME(3) NOT NULL,
    `endTime` DATETIME(3) NOT NULL,
    `duration` INTEGER NOT NULL,
    `status` VARCHAR(20) NOT NULL DEFAULT 'SCHEDULED',
    `meetingUrl` VARCHAR(500) NULL,
    `meetingId` VARCHAR(100) NULL,
    `recordingUrl` VARCHAR(500) NULL,
    `instructorId` VARCHAR(36) NOT NULL,
    `institutionId` VARCHAR(36) NULL,
    `courseId` VARCHAR(36) NULL,
    `moduleId` VARCHAR(36) NULL,
    `price` DOUBLE NOT NULL DEFAULT 0,
    `isPublic` BOOLEAN NOT NULL DEFAULT false,
    `isRecorded` BOOLEAN NOT NULL DEFAULT false,
    `allowChat` BOOLEAN NOT NULL DEFAULT true,
    `allowScreenShare` BOOLEAN NOT NULL DEFAULT true,
    `allowRecording` BOOLEAN NOT NULL DEFAULT false,
    `metadata` JSON NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,
    `currency` VARCHAR(3) NOT NULL DEFAULT 'USD',
    `features` JSON NULL,
    `isBooked` BOOLEAN NOT NULL DEFAULT false,
    `isCancelled` BOOLEAN NOT NULL DEFAULT false,
    `isCompleted` BOOLEAN NOT NULL DEFAULT false,
    `materials` JSON NULL,
    `rating` FLOAT NULL,
    `reviews` INTEGER NOT NULL DEFAULT 0,
    `tags` JSON NULL,
    `isAutoGenerated` BOOLEAN NOT NULL DEFAULT false,
    `isRecurring` BOOLEAN NOT NULL DEFAULT false,
    `recurringPatternId` VARCHAR(191) NULL,
    `sessionNumber` INTEGER NULL,

    INDEX `video_sessions_instructorId_idx`(`instructorId`),
    INDEX `video_sessions_courseId_idx`(`courseId`),
    INDEX `video_sessions_institutionId_idx`(`institutionId`),
    INDEX `video_sessions_startTime_idx`(`startTime`),
    INDEX `video_sessions_status_idx`(`status`),
    INDEX `video_sessions_language_idx`(`language`),
    INDEX `video_sessions_level_idx`(`level`),
    INDEX `video_sessions_moduleId_fkey`(`moduleId`),
    INDEX `video_sessions_recurringPatternId_idx`(`recurringPatternId`),
    INDEX `video_sessions_isRecurring_idx`(`isRecurring`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `recurring_session_patterns` (
    `id` VARCHAR(36) NOT NULL,
    `courseId` VARCHAR(191) NOT NULL,
    `patternType` VARCHAR(191) NOT NULL,
    `frequency` VARCHAR(191) NOT NULL,
    `dayOfWeek` INTEGER NULL,
    `timeOfDay` VARCHAR(191) NOT NULL,
    `duration` INTEGER NOT NULL,
    `timezone` VARCHAR(191) NOT NULL DEFAULT 'UTC',
    `startDate` DATETIME(3) NOT NULL,
    `endDate` DATETIME(3) NOT NULL,
    `maxParticipants` INTEGER NOT NULL DEFAULT 10,
    `isPublic` BOOLEAN NOT NULL DEFAULT false,
    `isRecorded` BOOLEAN NOT NULL DEFAULT false,
    `allowChat` BOOLEAN NOT NULL DEFAULT true,
    `allowScreenShare` BOOLEAN NOT NULL DEFAULT true,
    `isActive` BOOLEAN NOT NULL DEFAULT true,
    `autoGenerate` BOOLEAN NOT NULL DEFAULT true,

    INDEX `recurring_session_patterns_courseId_idx`(`courseId`),
    INDEX `recurring_session_patterns_isActive_idx`(`isActive`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `video_session_participants` (
    `id` VARCHAR(36) NOT NULL,
    `sessionId` VARCHAR(36) NOT NULL,
    `userId` VARCHAR(36) NOT NULL,
    `role` VARCHAR(20) NOT NULL DEFAULT 'PARTICIPANT',
    `joinedAt` DATETIME(3) NULL,
    `leftAt` DATETIME(3) NULL,
    `duration` INTEGER NOT NULL DEFAULT 0,
    `isActive` BOOLEAN NOT NULL DEFAULT false,
    `deviceInfo` JSON NULL,
    `connectionQuality` VARCHAR(20) NULL,
    `lastSeen` DATETIME(3) NULL,
    `metadata` JSON NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,
    `attendanceType` VARCHAR(191) NOT NULL DEFAULT 'REGULAR',
    `quotaUsed` BOOLEAN NOT NULL DEFAULT false,
    `subscriptionId` VARCHAR(191) NULL,

    INDEX `video_session_participants_sessionId_idx`(`sessionId`),
    INDEX `video_session_participants_userId_idx`(`userId`),
    INDEX `video_session_participants_isActive_idx`(`isActive`),
    INDEX `video_session_participants_subscriptionId_idx`(`subscriptionId`),
    INDEX `video_session_participants_quotaUsed_idx`(`quotaUsed`),
    UNIQUE INDEX `video_session_participants_sessionId_userId_key`(`sessionId`, `userId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `video_session_messages` (
    `id` VARCHAR(36) NOT NULL,
    `sessionId` VARCHAR(36) NOT NULL,
    `userId` VARCHAR(36) NOT NULL,
    `messageType` VARCHAR(20) NOT NULL,
    `content` TEXT NOT NULL,
    `timestamp` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `isPrivate` BOOLEAN NOT NULL DEFAULT false,
    `recipientId` VARCHAR(36) NULL,
    `metadata` JSON NULL,

    INDEX `video_session_messages_sessionId_idx`(`sessionId`),
    INDEX `video_session_messages_timestamp_idx`(`timestamp`),
    INDEX `video_session_messages_recipientId_fkey`(`recipientId`),
    INDEX `video_session_messages_userId_idx`(`userId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `live_conversations` (
    `id` VARCHAR(36) NOT NULL,
    `title` VARCHAR(255) NOT NULL,
    `description` TEXT NULL,
    `conversationType` VARCHAR(50) NOT NULL,
    `language` VARCHAR(50) NOT NULL,
    `level` VARCHAR(20) NOT NULL,
    `startTime` DATETIME(3) NOT NULL,
    `endTime` DATETIME(3) NOT NULL,
    `duration` INTEGER NOT NULL,
    `maxParticipants` INTEGER NOT NULL DEFAULT 8,
    `currentParticipants` INTEGER NOT NULL DEFAULT 0,
    `price` DOUBLE NOT NULL DEFAULT 0,
    `isPublic` BOOLEAN NOT NULL DEFAULT true,
    `isFree` BOOLEAN NOT NULL DEFAULT false,
    `status` VARCHAR(20) NOT NULL DEFAULT 'SCHEDULED',
    `meetingUrl` VARCHAR(500) NULL,
    `meetingId` VARCHAR(100) NULL,
    `meetingPassword` VARCHAR(100) NULL,
    `instructorId` VARCHAR(36) NULL,
    `hostId` VARCHAR(36) NOT NULL,
    `topic` VARCHAR(255) NULL,
    `culturalNotes` TEXT NULL,
    `vocabularyList` JSON NULL,
    `grammarPoints` JSON NULL,
    `conversationPrompts` JSON NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `metadata` JSON NULL,

    INDEX `live_conversations_instructorId_idx`(`instructorId`),
    INDEX `live_conversations_hostId_idx`(`hostId`),
    INDEX `live_conversations_startTime_idx`(`startTime`),
    INDEX `live_conversations_status_idx`(`status`),
    INDEX `live_conversations_language_idx`(`language`),
    INDEX `live_conversations_level_idx`(`level`),
    INDEX `live_conversations_conversationType_idx`(`conversationType`),
    INDEX `live_conversations_isFree_idx`(`isFree`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `live_conversation_participants` (
    `id` VARCHAR(36) NOT NULL,
    `conversationId` VARCHAR(36) NOT NULL,
    `userId` VARCHAR(36) NOT NULL,
    `joinedAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `leftAt` DATETIME(3) NULL,
    `duration` INTEGER NOT NULL DEFAULT 0,
    `isInstructor` BOOLEAN NOT NULL DEFAULT false,
    `isHost` BOOLEAN NOT NULL DEFAULT false,
    `status` VARCHAR(20) NOT NULL DEFAULT 'JOINED',
    `speakingTime` INTEGER NOT NULL DEFAULT 0,
    `messageCount` INTEGER NOT NULL DEFAULT 0,
    `feedback` JSON NULL,
    `metadata` JSON NULL,

    INDEX `live_conversation_participants_conversationId_idx`(`conversationId`),
    INDEX `live_conversation_participants_userId_idx`(`userId`),
    INDEX `live_conversation_participants_status_idx`(`status`),
    UNIQUE INDEX `live_conversation_participants_conversationId_userId_key`(`conversationId`, `userId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `live_conversation_messages` (
    `id` VARCHAR(36) NOT NULL,
    `conversationId` VARCHAR(36) NOT NULL,
    `senderId` VARCHAR(36) NOT NULL,
    `recipientId` VARCHAR(36) NULL,
    `content` TEXT NOT NULL,
    `messageType` VARCHAR(20) NOT NULL DEFAULT 'TEXT',
    `language` VARCHAR(50) NOT NULL,
    `isTranslation` BOOLEAN NOT NULL DEFAULT false,
    `originalMessage` VARCHAR(36) NULL,
    `timestamp` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `isRead` BOOLEAN NOT NULL DEFAULT false,
    `metadata` JSON NULL,

    INDEX `live_conversation_messages_conversationId_idx`(`conversationId`),
    INDEX `live_conversation_messages_senderId_idx`(`senderId`),
    INDEX `live_conversation_messages_recipientId_idx`(`recipientId`),
    INDEX `live_conversation_messages_timestamp_idx`(`timestamp`),
    INDEX `live_conversation_messages_messageType_idx`(`messageType`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `live_conversation_bookings` (
    `id` VARCHAR(36) NOT NULL,
    `conversationId` VARCHAR(36) NOT NULL,
    `userId` VARCHAR(36) NOT NULL,
    `status` VARCHAR(20) NOT NULL DEFAULT 'CONFIRMED',
    `bookedAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `cancelledAt` DATETIME(3) NULL,
    `paymentStatus` VARCHAR(20) NOT NULL DEFAULT 'PAID',
    `amount` DOUBLE NOT NULL DEFAULT 0,
    `currency` VARCHAR(3) NOT NULL DEFAULT 'USD',
    `paymentMethod` VARCHAR(50) NULL,
    `transactionId` VARCHAR(255) NULL,
    `refundReason` TEXT NULL,
    `metadata` JSON NULL,

    INDEX `live_conversation_bookings_conversationId_idx`(`conversationId`),
    INDEX `live_conversation_bookings_status_idx`(`status`),
    INDEX `live_conversation_bookings_paymentStatus_idx`(`paymentStatus`),
    INDEX `live_conversation_bookings_userId_idx`(`userId`),
    UNIQUE INDEX `live_conversation_bookings_conversationId_userId_key`(`conversationId`, `userId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `content_items` (
    `id` VARCHAR(36) NOT NULL,
    `module_id` VARCHAR(36) NOT NULL,
    `type` ENUM('VIDEO', 'AUDIO', 'IMAGE', 'DOCUMENT') NOT NULL,
    `title` VARCHAR(255) NOT NULL,
    `order_index` INTEGER NOT NULL DEFAULT 0,
    `created_at` TIMESTAMP(0) NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NULL DEFAULT CURRENT_TIMESTAMP(0),
    `content` TEXT NOT NULL,

    INDEX `idx_content_items_module_id`(`module_id`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `exercises` (
    `id` VARCHAR(36) NOT NULL,
    `module_id` VARCHAR(36) NOT NULL,
    `type` ENUM('MULTIPLE_CHOICE', 'FILL_IN_BLANK', 'MATCHING', 'SHORT_ANSWER') NOT NULL,
    `question` TEXT NOT NULL,
    `options` JSON NULL,
    `order_index` INTEGER NOT NULL DEFAULT 0,
    `created_at` TIMESTAMP(0) NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NULL DEFAULT CURRENT_TIMESTAMP(0),
    `answer` TEXT NOT NULL,

    INDEX `idx_exercises_module_id`(`module_id`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `modules` (
    `id` VARCHAR(36) NOT NULL,
    `course_id` VARCHAR(36) NOT NULL,
    `title` VARCHAR(255) NOT NULL,
    `description` TEXT NULL,
    `level` ENUM('CEFR_A1', 'CEFR_A2', 'CEFR_B1', 'CEFR_B2', 'CEFR_C1', 'CEFR_C2', 'ACTFL_NOVICE_LOW', 'ACTFL_NOVICE_MID', 'ACTFL_NOVICE_HIGH', 'ACTFL_INTERMEDIATE_LOW', 'ACTFL_INTERMEDIATE_MID', 'ACTFL_INTERMEDIATE_HIGH', 'ACTFL_ADVANCED_LOW', 'ACTFL_ADVANCED_MID', 'ACTFL_ADVANCED_HIGH', 'ACTFL_SUPERIOR', 'JLPT_N5', 'JLPT_N4', 'JLPT_N3', 'JLPT_N2', 'JLPT_N1', 'HSK_1', 'HSK_2', 'HSK_3', 'HSK_4', 'HSK_5', 'HSK_6', 'TOPIK_1', 'TOPIK_2', 'TOPIK_3', 'TOPIK_4', 'TOPIK_5', 'TOPIK_6') NOT NULL,
    `order_index` INTEGER NOT NULL DEFAULT 0,
    `estimated_duration` INTEGER NOT NULL DEFAULT 0,
    `vocabulary_list` TEXT NULL,
    `grammar_points` TEXT NULL,
    `cultural_notes` TEXT NULL,
    `is_published` BOOLEAN NULL DEFAULT false,
    `created_at` TIMESTAMP(0) NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `idx_modules_course_id`(`course_id`),
    INDEX `idx_modules_order_index`(`order_index`),
    INDEX `idx_modules_course_order`(`course_id`, `order_index`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `quiz_questions` (
    `id` VARCHAR(36) NOT NULL,
    `quiz_id` VARCHAR(36) NOT NULL,
    `type` ENUM('MULTIPLE_CHOICE', 'FILL_IN_BLANK', 'MATCHING', 'SHORT_ANSWER', 'TRUE_FALSE', 'ESSAY', 'DRAG_AND_DROP', 'HOTSPOT') NOT NULL DEFAULT 'MULTIPLE_CHOICE',
    `question` TEXT NOT NULL,
    `options` JSON NULL,
    `correct_answer` TEXT NULL,
    `points` INTEGER NOT NULL DEFAULT 1,
    `order_index` INTEGER NOT NULL DEFAULT 0,
    `created_at` TIMESTAMP(0) NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NULL DEFAULT CURRENT_TIMESTAMP(0),
    `average_time_spent` INTEGER NOT NULL DEFAULT 0,
    `category` VARCHAR(100) NULL,
    `difficulty` VARCHAR(20) NOT NULL DEFAULT 'MEDIUM',
    `explanation` TEXT NULL,
    `hints` JSON NULL,
    `success_rate` DOUBLE NOT NULL DEFAULT 0,
    `tags` JSON NULL,
    `times_asked` INTEGER NOT NULL DEFAULT 0,
    `times_correct` INTEGER NOT NULL DEFAULT 0,
    `irt_difficulty` DOUBLE NULL,
    `irt_discrimination` DOUBLE NULL,
    `irt_guessing` DOUBLE NULL,
    `irt_last_updated` TIMESTAMP(0) NULL,
    `media_type` VARCHAR(50) NULL,
    `media_url` VARCHAR(500) NULL,
    `question_config` JSON NULL,

    INDEX `idx_quiz_questions_quiz_id`(`quiz_id`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `quizzes` (
    `id` VARCHAR(36) NOT NULL,
    `module_id` VARCHAR(36) NOT NULL,
    `title` VARCHAR(255) NOT NULL,
    `description` TEXT NULL,
    `passing_score` INTEGER NOT NULL,
    `time_limit` INTEGER NULL,
    `created_at` TIMESTAMP(0) NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NULL DEFAULT CURRENT_TIMESTAMP(0),
    `mediaUrl` VARCHAR(255) NULL,
    `allow_retry` BOOLEAN NOT NULL DEFAULT true,
    `average_score` DOUBLE NOT NULL DEFAULT 0,
    `average_time` DOUBLE NOT NULL DEFAULT 0,
    `category` VARCHAR(100) NULL,
    `difficulty` VARCHAR(20) NOT NULL DEFAULT 'MEDIUM',
    `instructions` TEXT NULL,
    `max_attempts` INTEGER NOT NULL DEFAULT 3,
    `quiz_type` VARCHAR(20) NOT NULL DEFAULT 'STANDARD',
    `show_explanations` BOOLEAN NOT NULL DEFAULT false,
    `show_results` BOOLEAN NOT NULL DEFAULT true,
    `shuffle_questions` BOOLEAN NOT NULL DEFAULT false,
    `success_rate` DOUBLE NOT NULL DEFAULT 0,
    `tags` JSON NULL,
    `total_attempts` INTEGER NOT NULL DEFAULT 0,
    `total_completions` INTEGER NOT NULL DEFAULT 0,
    `adaptive_config` JSON NULL,
    `initial_ability` DOUBLE NOT NULL DEFAULT 0,
    `max_questions` INTEGER NOT NULL DEFAULT 20,
    `min_questions` INTEGER NOT NULL DEFAULT 5,
    `target_precision` DOUBLE NOT NULL DEFAULT 0.3,

    INDEX `idx_quizzes_module_id`(`module_id`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `student_progress` (
    `id` VARCHAR(36) NOT NULL,
    `student_id` VARCHAR(36) NOT NULL,
    `module_id` VARCHAR(36) NOT NULL,
    `content_completed` BOOLEAN NULL DEFAULT false,
    `exercises_completed` BOOLEAN NULL DEFAULT false,
    `quiz_completed` BOOLEAN NULL DEFAULT false,
    `quiz_score` INTEGER NULL,
    `started_at` TIMESTAMP(0) NULL DEFAULT CURRENT_TIMESTAMP(0),
    `completed_at` TIMESTAMP(0) NULL,

    INDEX `idx_student_progress_module_id`(`module_id`),
    INDEX `idx_student_progress_student_id`(`student_id`),
    UNIQUE INDEX `unique_student_module`(`student_id`, `module_id`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `module_progress` (
    `id` VARCHAR(36) NOT NULL,
    `moduleId` VARCHAR(36) NOT NULL,
    `studentId` VARCHAR(36) NOT NULL,
    `contentCompleted` BOOLEAN NOT NULL DEFAULT false,
    `exercisesCompleted` BOOLEAN NOT NULL DEFAULT false,
    `quizCompleted` BOOLEAN NOT NULL DEFAULT false,
    `startedAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `completedAt` DATETIME(3) NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,
    `difficultyRating` INTEGER NULL,
    `feedback` TEXT NULL,
    `lastAccessedAt` DATETIME(3) NULL DEFAULT CURRENT_TIMESTAMP(3),
    `notes` TEXT NULL,
    `quizScore` INTEGER NULL,
    `timeSpent` INTEGER NOT NULL DEFAULT 0,
    `achievementUnlocked` BOOLEAN NOT NULL DEFAULT false,
    `averageSessionTime` INTEGER NOT NULL DEFAULT 0,
    `bestQuizScore` INTEGER NULL,
    `lastStudyDate` DATETIME(3) NULL,
    `learningStreak` INTEGER NOT NULL DEFAULT 0,
    `retryAttempts` INTEGER NOT NULL DEFAULT 0,
    `sessionCount` INTEGER NOT NULL DEFAULT 0,

    INDEX `module_progress_module_id_idx`(`moduleId`),
    INDEX `module_progress_student_id_idx`(`studentId`),
    UNIQUE INDEX `module_progress_moduleId_studentId_key`(`moduleId`, `studentId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `learning_sessions` (
    `id` VARCHAR(36) NOT NULL,
    `moduleProgressId` VARCHAR(36) NOT NULL,
    `startedAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `endedAt` DATETIME(3) NULL,
    `duration` INTEGER NOT NULL DEFAULT 0,
    `activityType` VARCHAR(50) NOT NULL,
    `completed` BOOLEAN NOT NULL DEFAULT false,
    `notes` TEXT NULL,

    INDEX `learning_sessions_moduleProgressId_idx`(`moduleProgressId`),
    INDEX `learning_sessions_startedAt_idx`(`startedAt`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `student_achievements` (
    `id` VARCHAR(36) NOT NULL,
    `studentId` VARCHAR(36) NOT NULL,
    `metadata` JSON NULL,
    `achievement` VARCHAR(100) NOT NULL,
    `earnedAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    INDEX `student_achievements_studentId_idx`(`studentId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `exercise_attempts` (
    `id` VARCHAR(36) NOT NULL,
    `exerciseId` VARCHAR(36) NOT NULL,
    `studentId` VARCHAR(36) NOT NULL,
    `userAnswer` TEXT NOT NULL,
    `isCorrect` BOOLEAN NOT NULL,
    `submittedAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    INDEX `exercise_attempts_exerciseId_idx`(`exerciseId`),
    INDEX `exercise_attempts_studentId_idx`(`studentId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `quiz_attempts` (
    `id` VARCHAR(36) NOT NULL,
    `score` INTEGER NOT NULL,
    `percentage` DOUBLE NOT NULL,
    `status` VARCHAR(20) NOT NULL DEFAULT 'IN_PROGRESS',
    `ability_estimate` DOUBLE NULL,
    `adaptive_history` JSON NULL,
    `attempt_number` INTEGER NOT NULL DEFAULT 1,
    `completed_at` TIMESTAMP(0) NULL,
    `confidence_level` DOUBLE NULL,
    `device_info` JSON NULL,
    `ip_address` VARCHAR(45) NULL,
    `is_adaptive` BOOLEAN NOT NULL DEFAULT false,
    `passed` BOOLEAN NOT NULL,
    `questions_answered` INTEGER NOT NULL DEFAULT 0,
    `quiz_id` VARCHAR(36) NOT NULL,
    `started_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `student_id` VARCHAR(36) NOT NULL,
    `termination_reason` VARCHAR(50) NULL,
    `time_spent` INTEGER NULL,
    `total_points` INTEGER NOT NULL,
    `user_agent` TEXT NULL,

    INDEX `idx_quiz_attempts_quiz_id`(`quiz_id`),
    INDEX `idx_quiz_attempts_student_id`(`student_id`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `quiz_responses` (
    `id` VARCHAR(36) NOT NULL,
    `attemptId` VARCHAR(36) NOT NULL,
    `questionId` VARCHAR(36) NOT NULL,
    `studentId` VARCHAR(36) NOT NULL,
    `answer` TEXT NULL,
    `isCorrect` BOOLEAN NULL,
    `pointsEarned` INTEGER NOT NULL DEFAULT 0,
    `timeSpent` INTEGER NOT NULL DEFAULT 0,
    `answeredAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    INDEX `quiz_responses_attemptId_idx`(`attemptId`),
    INDEX `quiz_responses_questionId_idx`(`questionId`),
    INDEX `quiz_responses_studentId_idx`(`studentId`),
    UNIQUE INDEX `quiz_responses_attemptId_questionId_key`(`attemptId`, `questionId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `notification_templates` (
    `id` VARCHAR(36) NOT NULL,
    `name` VARCHAR(100) NOT NULL,
    `type` VARCHAR(50) NOT NULL,
    `subject` VARCHAR(200) NULL,
    `title` VARCHAR(200) NOT NULL,
    `content` TEXT NOT NULL,
    `variables` JSON NULL,
    `isActive` BOOLEAN NOT NULL DEFAULT true,
    `isDefault` BOOLEAN NOT NULL DEFAULT false,
    `category` VARCHAR(50) NOT NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,
    `createdBy` VARCHAR(36) NOT NULL,
    `updatedBy` VARCHAR(36) NULL,

    UNIQUE INDEX `notification_templates_name_key`(`name`),
    INDEX `notification_templates_type_idx`(`type`),
    INDEX `notification_templates_category_idx`(`category`),
    INDEX `notification_templates_isActive_idx`(`isActive`),
    INDEX `notification_templates_createdBy_fkey`(`createdBy`),
    INDEX `notification_templates_updatedBy_fkey`(`updatedBy`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `notification_logs` (
    `id` VARCHAR(36) NOT NULL,
    `templateId` VARCHAR(36) NULL,
    `recipientId` VARCHAR(36) NOT NULL,
    `recipientEmail` VARCHAR(255) NOT NULL,
    `recipientName` VARCHAR(255) NOT NULL,
    `type` VARCHAR(50) NOT NULL,
    `subject` VARCHAR(200) NULL,
    `title` VARCHAR(200) NOT NULL,
    `content` TEXT NOT NULL,
    `status` VARCHAR(20) NOT NULL,
    `errorMessage` TEXT NULL,
    `sentAt` DATETIME(3) NULL,
    `readAt` DATETIME(3) NULL,
    `metadata` JSON NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `createdBy` VARCHAR(36) NULL,

    INDEX `notification_logs_recipientId_idx`(`recipientId`),
    INDEX `notification_logs_type_idx`(`type`),
    INDEX `notification_logs_status_idx`(`status`),
    INDEX `notification_logs_sentAt_idx`(`sentAt`),
    INDEX `notification_logs_templateId_idx`(`templateId`),
    INDEX `notification_logs_createdBy_fkey`(`createdBy`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `system_notifications` (
    `id` VARCHAR(36) NOT NULL,
    `title` VARCHAR(200) NOT NULL,
    `content` TEXT NOT NULL,
    `type` VARCHAR(50) NOT NULL,
    `priority` VARCHAR(20) NOT NULL DEFAULT 'normal',
    `isActive` BOOLEAN NOT NULL DEFAULT true,
    `isGlobal` BOOLEAN NOT NULL DEFAULT false,
    `targetRoles` VARCHAR(255) NULL,
    `targetInstitutions` VARCHAR(500) NULL,
    `startDate` DATETIME(3) NULL,
    `endDate` DATETIME(3) NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,
    `createdBy` VARCHAR(36) NOT NULL,
    `updatedBy` VARCHAR(36) NULL,

    INDEX `system_notifications_type_idx`(`type`),
    INDEX `system_notifications_priority_idx`(`priority`),
    INDEX `system_notifications_isActive_idx`(`isActive`),
    INDEX `system_notifications_isGlobal_idx`(`isGlobal`),
    INDEX `system_notifications_startDate_idx`(`startDate`),
    INDEX `system_notifications_endDate_idx`(`endDate`),
    INDEX `system_notifications_createdBy_fkey`(`createdBy`),
    INDEX `system_notifications_updatedBy_fkey`(`updatedBy`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `pending_websocket_notifications` (
    `id` VARCHAR(36) NOT NULL,
    `userId` VARCHAR(36) NOT NULL,
    `type` VARCHAR(50) NOT NULL,
    `data` JSON NOT NULL,
    `timestamp` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `sent` BOOLEAN NOT NULL DEFAULT false,
    `sentAt` DATETIME(3) NULL,
    `metadata` JSON NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    INDEX `pending_websocket_notifications_userId_idx`(`userId`),
    INDEX `pending_websocket_notifications_sent_idx`(`sent`),
    INDEX `pending_websocket_notifications_timestamp_idx`(`timestamp`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `audit_logs` (
    `id` VARCHAR(36) NOT NULL,
    `userId` VARCHAR(36) NULL,
    `action` VARCHAR(100) NOT NULL,
    `resource` VARCHAR(100) NOT NULL,
    `resourceId` VARCHAR(36) NULL,
    `details` JSON NULL,
    `ipAddress` VARCHAR(45) NULL,
    `userAgent` TEXT NULL,
    `sessionId` VARCHAR(255) NULL,
    `severity` VARCHAR(20) NOT NULL,
    `category` VARCHAR(50) NOT NULL,
    `metadata` JSON NULL,
    `timestamp` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    INDEX `audit_logs_userId_idx`(`userId`),
    INDEX `audit_logs_action_idx`(`action`),
    INDEX `audit_logs_resource_idx`(`resource`),
    INDEX `audit_logs_severity_idx`(`severity`),
    INDEX `audit_logs_category_idx`(`category`),
    INDEX `audit_logs_timestamp_idx`(`timestamp`),
    INDEX `audit_logs_ipAddress_idx`(`ipAddress`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `rate_limit_logs` (
    `id` VARCHAR(36) NOT NULL,
    `name` VARCHAR(100) NOT NULL,
    `identifier` VARCHAR(255) NOT NULL,
    `count` INTEGER NOT NULL DEFAULT 1,
    `allowed` BOOLEAN NOT NULL DEFAULT true,
    `timestamp` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `metadata` JSON NULL,

    INDEX `rate_limit_logs_name_idx`(`name`),
    INDEX `rate_limit_logs_identifier_idx`(`identifier`(250)),
    INDEX `rate_limit_logs_timestamp_idx`(`timestamp`),
    INDEX `rate_limit_logs_allowed_idx`(`allowed`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `question_templates` (
    `id` VARCHAR(36) NOT NULL,
    `name` VARCHAR(255) NOT NULL,
    `description` TEXT NULL,
    `type` ENUM('MULTIPLE_CHOICE', 'FILL_IN_BLANK', 'MATCHING', 'SHORT_ANSWER', 'TRUE_FALSE', 'ESSAY', 'DRAG_AND_DROP', 'HOTSPOT') NOT NULL,
    `template_config` JSON NOT NULL,
    `category` VARCHAR(100) NULL,
    `difficulty` VARCHAR(20) NOT NULL DEFAULT 'MEDIUM',
    `tags` JSON NULL,
    `is_public` BOOLEAN NOT NULL DEFAULT false,
    `created_by` VARCHAR(36) NOT NULL,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `version` INTEGER NOT NULL DEFAULT 1,

    INDEX `question_templates_created_by_idx`(`created_by`),
    INDEX `question_templates_type_idx`(`type`),
    INDEX `question_templates_category_idx`(`category`),
    INDEX `question_templates_version_idx`(`version`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `question_template_versions` (
    `id` VARCHAR(36) NOT NULL,
    `changes` JSON NOT NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `createdBy` VARCHAR(36) NOT NULL,
    `notes` TEXT NULL,
    `templateId` VARCHAR(36) NOT NULL,
    `versionNumber` INTEGER NOT NULL,

    INDEX `question_template_versions_templateId_idx`(`templateId`),
    INDEX `question_template_versions_createdBy_idx`(`createdBy`),
    UNIQUE INDEX `question_template_versions_templateId_versionNumber_key`(`templateId`, `versionNumber`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `question_template_usage` (
    `id` VARCHAR(36) NOT NULL,
    `customizationLevel` VARCHAR(20) NOT NULL DEFAULT 'none',
    `institutionId` VARCHAR(36) NOT NULL,
    `metadata` JSON NULL,
    `targetQuestionBankId` VARCHAR(36) NULL,
    `templateId` VARCHAR(36) NOT NULL,
    `usageContext` VARCHAR(50) NOT NULL,
    `usedAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `usedBy` VARCHAR(36) NOT NULL,

    INDEX `question_template_usage_templateId_idx`(`templateId`),
    INDEX `question_template_usage_usedBy_idx`(`usedBy`),
    INDEX `question_template_usage_institutionId_idx`(`institutionId`),
    INDEX `question_template_usage_usageContext_idx`(`usageContext`),
    INDEX `question_template_usage_usedAt_idx`(`usedAt`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `question_template_suggestions` (
    `id` VARCHAR(36) NOT NULL,
    `title` VARCHAR(255) NOT NULL,
    `description` TEXT NOT NULL,
    `status` VARCHAR(20) NOT NULL DEFAULT 'PENDING',
    `confidence` DOUBLE NOT NULL DEFAULT 0,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `implementedAt` DATETIME(3) NULL,
    `reviewedAt` DATETIME(3) NULL,
    `reviewedBy` VARCHAR(36) NULL,
    `suggestedChanges` JSON NOT NULL,
    `suggestionType` VARCHAR(50) NOT NULL,
    `templateId` VARCHAR(36) NOT NULL,

    INDEX `question_template_suggestions_templateId_idx`(`templateId`),
    INDEX `question_template_suggestions_reviewedBy_idx`(`reviewedBy`),
    INDEX `question_template_suggestions_status_idx`(`status`),
    INDEX `question_template_suggestions_createdAt_idx`(`createdAt`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `question_banks` (
    `id` VARCHAR(36) NOT NULL,
    `name` VARCHAR(255) NOT NULL,
    `description` TEXT NULL,
    `category` VARCHAR(100) NULL,
    `tags` JSON NULL,
    `is_public` BOOLEAN NOT NULL DEFAULT false,
    `created_by` VARCHAR(36) NOT NULL,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `question_banks_created_by_idx`(`created_by`),
    INDEX `question_banks_category_idx`(`category`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `question_bank_items` (
    `id` VARCHAR(36) NOT NULL,
    `addedAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `addedBy` VARCHAR(36) NOT NULL,
    `orderIndex` INTEGER NOT NULL DEFAULT 0,
    `questionBankId` VARCHAR(36) NOT NULL,
    `questionId` VARCHAR(36) NOT NULL,

    INDEX `question_bank_items_questionBankId_idx`(`questionBankId`),
    INDEX `question_bank_items_questionId_idx`(`questionId`),
    INDEX `question_bank_items_addedBy_fkey`(`addedBy`),
    UNIQUE INDEX `question_bank_items_questionBankId_questionId_key`(`questionBankId`, `questionId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `question_options` (
    `id` VARCHAR(36) NOT NULL,
    `question_id` VARCHAR(36) NOT NULL,
    `option_type` VARCHAR(50) NOT NULL,
    `content` TEXT NOT NULL,
    `media_url` VARCHAR(500) NULL,
    `order_index` INTEGER NOT NULL DEFAULT 0,
    `is_correct` BOOLEAN NOT NULL DEFAULT false,
    `points` INTEGER NOT NULL DEFAULT 0,
    `metadata` JSON NULL,

    INDEX `question_options_question_id_idx`(`question_id`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `institution_permissions` (
    `id` VARCHAR(191) NOT NULL,
    `institutionId` VARCHAR(191) NOT NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,
    `canCreateCourses` BOOLEAN NOT NULL DEFAULT false,
    `canEditCourses` BOOLEAN NOT NULL DEFAULT false,
    `canDeleteCourses` BOOLEAN NOT NULL DEFAULT false,
    `canPublishCourses` BOOLEAN NOT NULL DEFAULT false,
    `canCreateContent` BOOLEAN NOT NULL DEFAULT false,
    `canEditContent` BOOLEAN NOT NULL DEFAULT false,
    `canDeleteContent` BOOLEAN NOT NULL DEFAULT false,
    `canUploadMedia` BOOLEAN NOT NULL DEFAULT false,
    `canCreateQuizzes` BOOLEAN NOT NULL DEFAULT false,
    `canEditQuizzes` BOOLEAN NOT NULL DEFAULT false,
    `canDeleteQuizzes` BOOLEAN NOT NULL DEFAULT false,
    `canViewQuizResults` BOOLEAN NOT NULL DEFAULT false,
    `canViewStudents` BOOLEAN NOT NULL DEFAULT false,
    `canManageStudents` BOOLEAN NOT NULL DEFAULT false,
    `canViewEnrollments` BOOLEAN NOT NULL DEFAULT false,
    `canViewPayments` BOOLEAN NOT NULL DEFAULT false,
    `canViewPayouts` BOOLEAN NOT NULL DEFAULT false,
    `canManagePricing` BOOLEAN NOT NULL DEFAULT false,
    `canViewAnalytics` BOOLEAN NOT NULL DEFAULT false,
    `canViewReports` BOOLEAN NOT NULL DEFAULT false,
    `canExportData` BOOLEAN NOT NULL DEFAULT false,
    `canEditProfile` BOOLEAN NOT NULL DEFAULT false,
    `canManageUsers` BOOLEAN NOT NULL DEFAULT false,
    `canViewSettings` BOOLEAN NOT NULL DEFAULT false,

    UNIQUE INDEX `institution_permissions_institutionId_key`(`institutionId`),
    INDEX `institution_permissions_institutionId_idx`(`institutionId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `email_settings` (
    `id` VARCHAR(191) NOT NULL DEFAULT '1',
    `host` VARCHAR(191) NOT NULL,
    `port` INTEGER NOT NULL,
    `secure` BOOLEAN NOT NULL DEFAULT true,
    `username` VARCHAR(191) NOT NULL,
    `password` VARCHAR(191) NOT NULL,
    `fromEmail` VARCHAR(191) NOT NULL,
    `fromName` VARCHAR(191) NOT NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,
    `rejectUnauthorized` BOOLEAN NOT NULL DEFAULT false,

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `admin_settings` (
    `id` VARCHAR(191) NOT NULL DEFAULT '1',
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,
    `allowInstitutionPaymentApproval` BOOLEAN NOT NULL DEFAULT true,
    `showInstitutionApprovalButtons` BOOLEAN NOT NULL DEFAULT true,
    `defaultPaymentStatus` VARCHAR(191) NOT NULL DEFAULT 'PENDING',
    `institutionApprovableMethods` JSON NOT NULL,
    `adminOnlyMethods` JSON NOT NULL,
    `institutionPaymentApprovalExemptions` JSON NOT NULL,
    `fileUploadMaxSizeMB` INTEGER NOT NULL DEFAULT 10,

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `student_notification_preferences` (
    `id` VARCHAR(36) NOT NULL,
    `student_id` VARCHAR(36) NOT NULL,
    `email_notifications` BOOLEAN NOT NULL DEFAULT true,
    `push_notifications` BOOLEAN NOT NULL DEFAULT true,
    `sms_notifications` BOOLEAN NOT NULL DEFAULT false,
    `course_updates` BOOLEAN NOT NULL DEFAULT true,
    `assignment_reminders` BOOLEAN NOT NULL DEFAULT true,
    `payment_reminders` BOOLEAN NOT NULL DEFAULT true,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `achievement_alerts` BOOLEAN NOT NULL DEFAULT true,
    `assignment_deadlines` BOOLEAN NOT NULL DEFAULT true,
    `assignment_feedback` BOOLEAN NOT NULL DEFAULT true,
    `assignment_grades` BOOLEAN NOT NULL DEFAULT true,
    `course_announcements` BOOLEAN NOT NULL DEFAULT true,
    `course_reminders` BOOLEAN NOT NULL DEFAULT true,
    `course_schedule` BOOLEAN NOT NULL DEFAULT true,
    `group_messages` BOOLEAN NOT NULL DEFAULT true,
    `instructor_messages` BOOLEAN NOT NULL DEFAULT true,
    `milestone_reached` BOOLEAN NOT NULL DEFAULT true,
    `notification_frequency` VARCHAR(20) NOT NULL DEFAULT 'DAILY',
    `payment_confirmation` BOOLEAN NOT NULL DEFAULT true,
    `payment_failed` BOOLEAN NOT NULL DEFAULT true,
    `payment_receipts` BOOLEAN NOT NULL DEFAULT true,
    `progress_updates` BOOLEAN NOT NULL DEFAULT true,
    `system_announcements` BOOLEAN NOT NULL DEFAULT true,

    UNIQUE INDEX `student_notification_preferences_student_id_key`(`student_id`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `course_monthly_price` (
    `id` VARCHAR(36) NOT NULL,
    `courseId` VARCHAR(36) NOT NULL,
    `monthNumber` INTEGER NOT NULL,
    `year` INTEGER NOT NULL,
    `price` DOUBLE NOT NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    INDEX `CourseMonthlyPrice_courseId_fkey`(`courseId`),
    UNIQUE INDEX `CourseMonthlyPrice_courseId_monthNumber_year_key`(`courseId`, `monthNumber`, `year`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `course_pricing_rules` (
    `id` VARCHAR(36) NOT NULL,
    `courseId` VARCHAR(36) NOT NULL,
    `ruleType` VARCHAR(20) NOT NULL,
    `ruleValue` DOUBLE NOT NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    INDEX `course_pricing_rules_courseId_idx`(`courseId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `course_weekly_prices` (
    `id` VARCHAR(36) NOT NULL,
    `courseId` VARCHAR(36) NOT NULL,
    `weekNumber` INTEGER NOT NULL,
    `year` INTEGER NOT NULL,
    `price` DOUBLE NOT NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    INDEX `course_weekly_prices_courseId_idx`(`courseId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `institution_payouts` (
    `id` VARCHAR(191) NOT NULL,
    `institutionId` VARCHAR(191) NOT NULL,
    `enrollmentId` VARCHAR(191) NOT NULL,
    `amount` DOUBLE NOT NULL,
    `status` VARCHAR(191) NOT NULL,
    `metadata` JSON NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    INDEX `institution_payouts_enrollmentId_idx`(`enrollmentId`),
    INDEX `institution_payouts_institutionId_idx`(`institutionId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `module_skills` (
    `module_id` VARCHAR(36) NOT NULL,
    `skill` VARCHAR(50) NOT NULL,

    PRIMARY KEY (`module_id`, `skill`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `student_institutions` (
    `id` VARCHAR(36) NOT NULL,
    `student_id` VARCHAR(36) NOT NULL,
    `institution_id` VARCHAR(36) NOT NULL,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `notes` TEXT NULL,
    `status` ENUM('INQUIRY', 'APPLIED', 'REVIEWING', 'ACCEPTED', 'REJECTED', 'ENROLLED', 'ALUMNI', 'MEMBER') NOT NULL DEFAULT 'INQUIRY',

    INDEX `student_institutions_institution_id_idx`(`institution_id`),
    INDEX `student_institutions_student_id_idx`(`student_id`),
    UNIQUE INDEX `student_institutions_student_id_institution_id_key`(`student_id`, `institution_id`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `tagrelation` (
    `id` VARCHAR(36) NOT NULL,
    `tagId` VARCHAR(36) NOT NULL,
    `relatedId` VARCHAR(36) NOT NULL,
    `strength` INTEGER NOT NULL DEFAULT 1,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    INDEX `tagRelation_relatedId_idx`(`relatedId`),
    INDEX `tagRelation_tagId_idx`(`tagId`),
    UNIQUE INDEX `tagRelation_tagId_relatedId_key`(`tagId`, `relatedId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `video_session_recordings` (
    `id` VARCHAR(36) NOT NULL,
    `sessionId` VARCHAR(36) NOT NULL,
    `recordingUrl` VARCHAR(500) NOT NULL,
    `duration` INTEGER NOT NULL,
    `fileSize` INTEGER NOT NULL,
    `quality` VARCHAR(20) NOT NULL,
    `status` VARCHAR(20) NOT NULL DEFAULT 'PROCESSING',
    `thumbnailUrl` VARCHAR(500) NULL,
    `transcript` TEXT NULL,
    `metadata` JSON NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    INDEX `video_session_recordings_sessionId_idx`(`sessionId`),
    INDEX `video_session_recordings_status_idx`(`status`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `language_proficiency_question_banks` (
    `id` VARCHAR(36) NOT NULL,
    `languageCode` VARCHAR(10) NOT NULL,
    `name` VARCHAR(255) NOT NULL,
    `description` TEXT NULL,
    `totalQuestions` INTEGER NOT NULL DEFAULT 0,
    `isActive` BOOLEAN NOT NULL DEFAULT true,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    UNIQUE INDEX `language_proficiency_question_banks_languageCode_key`(`languageCode`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `language_proficiency_questions` (
    `id` VARCHAR(36) NOT NULL,
    `bankId` VARCHAR(36) NOT NULL,
    `level` VARCHAR(10) NOT NULL,
    `category` VARCHAR(50) NULL,
    `difficulty` VARCHAR(20) NOT NULL DEFAULT 'medium',
    `question` TEXT NOT NULL,
    `options` JSON NOT NULL,
    `correctAnswer` TEXT NOT NULL,
    `explanation` TEXT NULL,
    `usageCount` INTEGER NOT NULL DEFAULT 0,
    `successRate` DOUBLE NOT NULL DEFAULT 0,
    `isActive` BOOLEAN NOT NULL DEFAULT true,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    INDEX `language_proficiency_questions_bankId_idx`(`bankId`),
    INDEX `language_proficiency_questions_level_idx`(`level`),
    INDEX `language_proficiency_questions_category_idx`(`category`),
    INDEX `language_proficiency_questions_difficulty_idx`(`difficulty`),
    INDEX `language_proficiency_questions_isActive_idx`(`isActive`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `language_proficiency_test_attempts` (
    `id` VARCHAR(36) NOT NULL,
    `userId` VARCHAR(36) NOT NULL,
    `languageCode` VARCHAR(10) NOT NULL,
    `score` INTEGER NOT NULL,
    `level` VARCHAR(10) NOT NULL,
    `answers` JSON NOT NULL,
    `timeSpent` INTEGER NOT NULL DEFAULT 0,
    `completedAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    INDEX `language_proficiency_test_attempts_userId_idx`(`userId`),
    INDEX `language_proficiency_test_attempts_languageCode_idx`(`languageCode`),
    INDEX `language_proficiency_test_attempts_completedAt_idx`(`completedAt`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `design_configs` (
    `id` VARCHAR(191) NOT NULL,
    `name` VARCHAR(191) NOT NULL,
    `description` VARCHAR(191) NULL,
    `backgroundType` VARCHAR(191) NOT NULL DEFAULT 'solid',
    `backgroundColor` VARCHAR(191) NOT NULL DEFAULT '#ffffff',
    `backgroundGradientFrom` VARCHAR(191) NOT NULL DEFAULT '#667eea',
    `backgroundGradientTo` VARCHAR(191) NOT NULL DEFAULT '#764ba2',
    `backgroundGradientDirection` VARCHAR(191) NOT NULL DEFAULT 'to-r',
    `backgroundImage` VARCHAR(191) NULL,
    `backgroundPattern` VARCHAR(191) NOT NULL DEFAULT 'none',
    `backgroundOpacity` INTEGER NOT NULL DEFAULT 100,
    `titleFont` VARCHAR(191) NOT NULL DEFAULT 'inter',
    `titleSize` INTEGER NOT NULL DEFAULT 16,
    `titleWeight` VARCHAR(191) NOT NULL DEFAULT 'semibold',
    `titleColor` VARCHAR(191) NOT NULL DEFAULT '#1f2937',
    `titleAlignment` JSON NULL,
    `titleShadow` BOOLEAN NOT NULL DEFAULT false,
    `titleShadowColor` VARCHAR(191) NOT NULL DEFAULT '#000000',
    `descriptionFont` VARCHAR(191) NOT NULL DEFAULT 'inter',
    `descriptionSize` INTEGER NOT NULL DEFAULT 14,
    `descriptionColor` VARCHAR(191) NOT NULL DEFAULT '#6b7280',
    `descriptionAlignment` JSON NULL,
    `padding` INTEGER NOT NULL DEFAULT 16,
    `borderRadius` INTEGER NOT NULL DEFAULT 8,
    `borderWidth` INTEGER NOT NULL DEFAULT 1,
    `borderColor` VARCHAR(191) NOT NULL DEFAULT '#e5e7eb',
    `borderStyle` VARCHAR(191) NOT NULL DEFAULT 'solid',
    `shadow` BOOLEAN NOT NULL DEFAULT true,
    `shadowColor` VARCHAR(191) NOT NULL DEFAULT 'rgba(0, 0, 0, 0.1)',
    `shadowBlur` INTEGER NOT NULL DEFAULT 10,
    `shadowOffset` INTEGER NOT NULL DEFAULT 4,
    `hoverEffect` VARCHAR(191) NOT NULL DEFAULT 'scale',
    `animationDuration` INTEGER NOT NULL DEFAULT 300,
    `customCSS` TEXT NULL,
    `isActive` BOOLEAN NOT NULL DEFAULT true,
    `isDefault` BOOLEAN NOT NULL DEFAULT false,
    `createdBy` VARCHAR(191) NULL,
    `itemId` VARCHAR(191) NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,
    `isApproved` BOOLEAN NOT NULL DEFAULT false,
    `approvedBy` VARCHAR(191) NULL,
    `approvedAt` DATETIME(3) NULL,
    `approvalStatus` VARCHAR(191) NOT NULL DEFAULT 'PENDING',
    `approvalNotes` TEXT NULL,

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `promotional_items` (
    `id` VARCHAR(191) NOT NULL,
    `type` VARCHAR(191) NOT NULL,
    `title` VARCHAR(191) NOT NULL,
    `description` VARCHAR(191) NOT NULL,
    `imageUrl` VARCHAR(191) NULL,
    `ctaText` VARCHAR(191) NOT NULL,
    `ctaLink` VARCHAR(191) NOT NULL,
    `badge` VARCHAR(191) NULL,
    `students` INTEGER NULL,
    `courses` INTEGER NULL,
    `rating` DOUBLE NULL,
    `priority` INTEGER NOT NULL DEFAULT 0,
    `isSponsored` BOOLEAN NOT NULL DEFAULT false,
    `isActive` BOOLEAN NOT NULL DEFAULT true,
    `designConfigId` VARCHAR(191) NULL,
    `createdBy` VARCHAR(191) NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `advertising_items` (
    `id` VARCHAR(191) NOT NULL,
    `type` VARCHAR(191) NOT NULL,
    `title` VARCHAR(191) NOT NULL,
    `description` VARCHAR(191) NOT NULL,
    `imageUrl` VARCHAR(191) NULL,
    `ctaText` VARCHAR(191) NOT NULL,
    `ctaLink` VARCHAR(191) NOT NULL,
    `targetAudience` VARCHAR(191) NULL,
    `targetLocation` VARCHAR(191) NULL,
    `targetDevice` VARCHAR(191) NULL,
    `startDate` DATETIME(3) NULL,
    `endDate` DATETIME(3) NULL,
    `maxImpressions` INTEGER NULL,
    `currentImpressions` INTEGER NOT NULL DEFAULT 0,
    `maxClicks` INTEGER NULL,
    `currentClicks` INTEGER NOT NULL DEFAULT 0,
    `designConfigId` VARCHAR(191) NULL,
    `isActive` BOOLEAN NOT NULL DEFAULT true,
    `isApproved` BOOLEAN NOT NULL DEFAULT false,
    `createdBy` VARCHAR(191) NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `ratings` (
    `id` VARCHAR(191) NOT NULL,
    `targetType` ENUM('INSTITUTION', 'COURSE', 'INSTRUCTOR', 'CONTENT') NOT NULL,
    `targetId` VARCHAR(36) NOT NULL,
    `userId` VARCHAR(36) NOT NULL,
    `rating` INTEGER NOT NULL,
    `comment` TEXT NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    INDEX `idx_ratings_target`(`targetType`, `targetId`),
    INDEX `idx_ratings_user`(`userId`),
    UNIQUE INDEX `ratings_userId_targetType_targetId_key`(`userId`, `targetType`, `targetId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `design_templates` (
    `id` VARCHAR(191) NOT NULL,
    `name` VARCHAR(191) NOT NULL,
    `description` VARCHAR(191) NULL,
    `category` VARCHAR(191) NOT NULL,
    `config` JSON NOT NULL,
    `previewImage` VARCHAR(191) NULL,
    `usageCount` INTEGER NOT NULL DEFAULT 0,
    `isPublic` BOOLEAN NOT NULL DEFAULT false,
    `createdBy` VARCHAR(191) NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- AddForeignKey
ALTER TABLE `course` ADD CONSTRAINT `course_institutionId_fkey` FOREIGN KEY (`institutionId`) REFERENCES `institution`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `course` ADD CONSTRAINT `course_categoryId_fkey` FOREIGN KEY (`categoryId`) REFERENCES `category`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `user` ADD CONSTRAINT `user_institutionId_fkey` FOREIGN KEY (`institutionId`) REFERENCES `institution`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `coursetag` ADD CONSTRAINT `coursetag_courseId_fkey` FOREIGN KEY (`courseId`) REFERENCES `course`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `coursetag` ADD CONSTRAINT `coursetag_tagId_fkey` FOREIGN KEY (`tagId`) REFERENCES `tag`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `student_course_enrollments` ADD CONSTRAINT `student_course_enrollments_courseId_fkey` FOREIGN KEY (`courseId`) REFERENCES `course`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `institution_subscriptions` ADD CONSTRAINT `institution_subscriptions_institutionId_fkey` FOREIGN KEY (`institutionId`) REFERENCES `institution`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `institution_subscriptions` ADD CONSTRAINT `institution_subscriptions_commissionTierId_fkey` FOREIGN KEY (`commissionTierId`) REFERENCES `commission_tiers`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `student_subscriptions` ADD CONSTRAINT `student_subscriptions_studentTierId_fkey` FOREIGN KEY (`studentTierId`) REFERENCES `student_tiers`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `video_sessions` ADD CONSTRAINT `video_sessions_instructorId_fkey` FOREIGN KEY (`instructorId`) REFERENCES `user`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `video_sessions` ADD CONSTRAINT `video_sessions_courseId_fkey` FOREIGN KEY (`courseId`) REFERENCES `course`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `video_session_participants` ADD CONSTRAINT `video_session_participants_sessionId_fkey` FOREIGN KEY (`sessionId`) REFERENCES `video_sessions`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `language_proficiency_questions` ADD CONSTRAINT `language_proficiency_questions_bankId_fkey` FOREIGN KEY (`bankId`) REFERENCES `language_proficiency_question_banks`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `promotional_items` ADD CONSTRAINT `promotional_items_designConfigId_fkey` FOREIGN KEY (`designConfigId`) REFERENCES `design_configs`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `advertising_items` ADD CONSTRAINT `advertising_items_designConfigId_fkey` FOREIGN KEY (`designConfigId`) REFERENCES `design_configs`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

